#The Tether plugin allows players to attach a lead to any mob in Minecraft.

#Do not touch this!
config-version: 3

#Write mobs that you don't want leashable here.
blacklisted-mobs:
  - EXAMPLEMOB

#Player Leash settings
player-leash:
  #Should players be leashable? (Also requires the player leashing to have tether.use.players).
  enabled: false
  #Should leashed players be able to escape by crouching? (Recommended: true). (Redundant if player-leash is false).
  escapable: true
  #Should players receive a message when they've been leashed? (Redundant if player-leash is false).
  message-on-leashed: true

#Should Tether hook into the following land management plugins?
#(Requires restart upon change).
hooks:
  griefprevention: false
  towny: false
  lands: false
  griefdefender: false

#Messages
messages:
  prefix: "&8[&6&lTether&8] &r"
  reload: "&7Tether has been reloaded!"
  no-permission: "&cYou do not have permission!"
  in-claim-deny-mob: "&7You may not leash this mob as it's in protected land."
  in-claim-deny-player: "&7You may not leash this player as they're in protected land."
  player-leashed-escapable: "&7You've been leashed! Press &6crouch &7to escape."
  player-leashed-not-escapable: "&7You've been leashed!"
  cannot-leash-riding-player: "&7You cannot leash players that are riding an entity."